html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

.edit-link {
	display: block;
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

.photo-credit {
	color: lighten( $color__text-main, 20% );
	font-style: italic;
}

@import "tables";

#masthead {
	background: $color__masthead-background;

	.site-branding {
		max-width: $size__max-width;
		margin: auto;
		p {
			font-size: 1.5rem;
			a {
				color: $color__masthead-text;
				text-decoration: none;
			}
			a:hover {
				color: darken( $color__masthead-text, 15% );
			}
		}
	}
}

#colophon {
	background: $color__masthead-background;

	.site-info {
		max-width: $size__max-width;
		margin: auto;
		padding: 1.25em;
		font-size: 1rem;
		color: darken( $color__masthead-text, 12.5% );
		a {
			color: $color__masthead-text;
			text-decoration: none;
		}
		a:hover {
			color: darken( $color__masthead-text, 15% );
		}
		.judo-mb-contact-footer {
			width: 100%;
			text-align: center;
		}
	}
}

#content {
	max-width: $size__max-width;
	margin: auto;
}

// Smaller screens.
@media screen and (max-width: 960px ) {
	#masthead, #content, #footer {
		padding: 0.5em;
	}

}
// Smaller screens.
@media screen and (max-width: 640px ) {
	#masthead, #content, #footer {
		padding: 0.25em;
	}
	h1 { font-size: 1.25em; }
	#secondary {
		float: none;
		width: 100%;
		display: block;
		border-top: 1px solid $color__border-input;
	}

}
